<div id="admin-console">
  <h1>管理画面</h1>
  <%= link_to 'ログアウト', admin_logout_path, method: :delete %>
  <table>
    <thead>
    <tr>
      <th>公演時間</th>
      <th>座席</th>
      <th>メールアドレス</th>
      <th>認証コード</th>
      <th>メール送信</th>
    </tr>
    </thead>
    <tbody>
    <% @attrs.each_with_index do |attr, i| %>
        <tr class="<%= 'stripe' if i.to_s[-2].nil? || i.to_s[-2].to_i.even? %>">
          <% if i % 10 == 0 %>
            <td rowspan="10">
              <%= attr.time.strftime("%m/%d %H:%M") %>
            </td>
          <% end %>
          <td>
            <%= seat_is(attr.seat).join(' ') %>
          </td>
          <td class="email">
            <%= attr.authenticated_addr %>
          </td>
          <td class="code">
            <% unless attr.user.where(status: 1).empty? %>
              <%= attr.user.where(status: 1).last.url[0..5] %>
            <% end %>
          </td>
          <% if i % 10 == 0 %>
            <th rowspan=10>
              送信する
            </th>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
