<div id="admin-console">
  <h1>一覧画面</h1>
  <br>
  <table>
    <thead>
    <tr>
      <th>公演時間</th>
      <th>部屋</th>
      <th>座席</th>
      <th>認証コード</th>
      <th>予約日時</th>
      <th>値段</th>
      <th>出席</th>
    </tr>
    </thead>
    <tbody>
      <% @attrs.each_with_index do |attr, i| %>
        <% if i.between?(90, 99) || i.between?(190, 199) || i.between?(340, 349) || i.between?(440, 449) %>
          <tr>
            <td colspan="11">休憩時間</td>
          </tr>
        <% else %>
          <tr class="<%= 'stripe' if i.to_s[-2].nil? || i.to_s[-2].to_i.even? %>">
            <% if i % 10 == 0 %>
                <td rowspan="10">
                  <%= attr.time.strftime("%m/%d %H:%M") %>
                </td>
            <% end %>
            <td>
              <%= seat_is(attr.seat)[0][5] %>
            </td>
            <td>
              <%= seat_is(attr.seat)[1][5..6] %>
            </td>
            <td class="code">
              <% unless attr.user.where(status: 1).empty? %>
                  <%= attr.user.where(status: 1).last.url[0..5] %>
              <% end %>
            </td>
            <td>
              <% unless attr.authenticated_at.nil? %>
                  <%= time_is(attr.authenticated_at) ? '当日' : '前売り' %>
              <% end %>
            </td>
            <td>
              <% unless attr.authenticated_at.nil? %>
                  <%= how_much(attr.seat, attr.authenticated_at, attr.time) %>円
              <% end %>
            </td>
            <td>
              <%= form_tag(admin_attend_path, remote: true) do %>
                  <%= hidden_field_tag :attr_id, attr.id %>
                  <% if attr.attended %>
                    <%= button_tag(id: "button-#{i+1}", class: 'attended') do %>
                      ○
                    <% end %>
                  <% else %>
                    <%= button_tag(id: "button-#{i+1}") do %>
                      ×
                    <% end %>
                 <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
