<div id="seat-btn">
  <%= link_to image_tag('date.png'), root_url %>
</div>
<div class="errors">
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
</div>

<p class="time">Attraction Time : <span><%= @attr.time.strftime("%m/%d %H:%M") %></span></p>

<h2>Please enter your Email address.</h2>
<div id="email" class="cf">
  <%= form_for @user, url: reserve_register_path(@attr.id) do |f| %>
    <%= f.email_field :addr, id: 'email_field', placeholder: 'Email Address' %>
    <%= button_tag(type: 'submit', id: 'register') do %>
      Register<span class="space">&thinsp;</span>
    <% end %>
  <% end %>
</div>
