<div id="back-btn">
  <%= link_to image_tag('seat-btn.png', width: 120), seat_select_path(room_is(@attr.id)) %>
</div>

<div class="time">
  <p>
    公演時間<br><span><%= @attr.time.strftime("%m/%d %H:%M") %></span>
  </p>
  <p>
    座席<br><span><%= seat_is(@attr.seat).join(' ') %></span>
  </p>
</div>

<h2 id="email-description">メールアドレスを入力してください</h2>

<% if @user.errors.any? %>
    <ul class="errors">
      <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<div id="email">
  <%= form_for @user, url: reserve_register_path(@attr.id) do |f| %>
      <%= f.email_field :addr, id: 'email_field', placeholder: 'test@example.com' %>
      <%= button_tag(type: 'submit', id: 'register',  data: { :disable_with => "送信中..." }) do %>
          送信<span class="space">&thinsp;</span>
      <% end %>
  <% end %>
</div>