<div id="seat-btn-sp">
  <%= link_to image_tag('date.png', width: 120), :back %>
</div>

<p class="time">
  公演時間<br><span><%= @attr.time.strftime("%m/%d %H:%M") %></span><br>
  座席<br><span><%= seat_is(@attr.seat).join(' ') %></span>
</p>

<h2>メールアドレスを入力してください</h2>

<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div id="email-sp">
  <%= form_for @user, url: reserve_register_path(@attr.id) do |f| %>
    <%= f.email_field :addr, id: 'email_field', placeholder: 'test@example.com' %>
    <%= button_tag(type: 'submit', id: 'register',  data: { :disable_with => "送信中..." }) do %>
      送信<span class="space">&thinsp;</span>
    <% end %>
  <% end %>
</div>
