
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>

<%= alert %>

<p>登録フォーム</p>
<%= form_for @user, url: reserve_register_path(@attr.id) do |f| %>
  <%= f.email_field :addr %>
  <%= f.submit "送信"%>
<% end %>
