<div id="back-btn">
  <%= link_to image_tag('date-btn.png', width: 120), root_path %>
</div>
<div class="time">
  <p>
    公演時間<br><span><%= @attrs.first.time.strftime("%m/%d %H:%M") %></span>
  </p>
</div>
<div id="seat-select-pc">
  <% @attrs.each_with_index do |f, i| %>
    <% if i == 0 || i == 5 %>
      <div class="each-room cf">
      <% if i == 0 %>
        <p class="room-name">Room A</p>
      <% elsif i == 5 %>
        <p class="room-name">Room B</p>
      <% end %>
      <div id="screen">
        Screen<span class="space">&thinsp;</span>
      </div>
    <% end %>
    <div id="seat-<%= i + 1 %>-pc">
      <div class="seat-img">
        <% if f.status == 0%>
            <%= link_to image_tag('seat.png', size: 80), reserve_form_path(f.id) %>
        <% else %>
            <%= image_tag('seat_soldout.png', size: 80) %>
        <% end %>
      </div>
      <div class="seat-label">
        <% case i % 5 + 1 %>
        <% when 1 %>
            S1
        <% when 2 %>
            S2
        <% when 3 %>
            S3
        <% when 4 %>
            A1
        <% else %>
            A2
        <% end %>
      </div>
    </div>
    <% if i == 4 || i == 9 %>
      </div>
    <% end %>
  <% end %>
  <div id="price-aria" class="cf">
    <p class="price">
      <span>前売り料金</span><br>
      S<span>席</span>: 300<span>円</span><br>
      A<span>席</span>: 200<span>円</span><br>
    </p>
    <p class="price">
      <span>当日料金</span><br>
      S<span>席</span>: 400<span>円</span><br>
      A<span>席</span>: 300<span>円</span><br>
    </p>
  </div>
</div>