<div id="back-btn">
  <%= link_to image_tag('date.png', width: 120), root_path %>
</div>
<div class="time">
  <p>
    公演時間<br><span><%= @attrs.first.time.strftime("%m/%d %H:%M") %></span>
  </p>
</div>
<div id="seat-select">
  <div id="screen">
    Screen<span class="space">&thinsp;</span>
  </div>
  <% @attrs.each_with_index do |f, i| %>
    <% if i == 0 %>
      <div id="room-a">
    <% elsif i == 5 %>
      <div id="room-b">
    <% end %>
    <div id="seat-<%= i + 1 %>">
      <div class="seat-img">
        <% if f.status == 0%>
            <%= link_to image_tag('seat.png', width: 80), reserve_form_path(f.id) %>
        <% else %>
            <%= image_tag('seat_soldout.png', width: 80) %>
        <% end %>
      </div>
      <div class="seat-label">
        <% case i % 5 + 1 %>
        <% when 1 %>
            S1
        <% when 2 %>
            S2
        <% when 3 %>
            A1
        <% when 4 %>
            A2
        <% else %>
            A3
        <% end %>
      </div>
    </div>
    <% if i == 4 || i == 9 %>
      </div>
    <% end %>
  <% end %>
  <p id="price">
    <span>前売り料金</span><br>
    S<span>席</span>: 300<span>円</span><br>
    A<span>席</span>: 200<span>円</span><br>
    <span>当日料金</span><br>
    S<span>席</span>: 400<span>円</span><br>
    A<span>席</span>: 300<span>円</span><br>
  </p>
</div>