<%= alert %>
<%= notice %>


<div id="room">Date<span class="space">&thinsp;</span></div>
<div id="date-29">29日<span class="space">&thinsp;</span></div>
<div id="date-30">30日<span class="space">&thinsp;</span></div>
<% count = 0 %>
<% @attrs.each do |f|%>
  <% count += 1 if f.status == 0 %>
  <% if f.seat == 9 %>
    <div class="time-<%= (f.id+1)/10 %>">
      <%= link_to f.time.strftime("%H:%M"), seat_select_path(f.id-9) %>
      <%= count %>
      <% count = 0 %>
    </div>
  <% end %>
<% end %>
