<div id="links">
  <%= link_to '予約の説明はこちら', help_path %>
  <%= link_to '予約情報の確認はこちら', reserve_resend_path %>
</div>
<div id="date-select" class="cf">
  <div id="time-table-label">タイムテーブル<span class="space">&thinsp;</span></div>
  <div id="date-29">10月29日<span class="space">&thinsp;</span></div>
  <div id="date-30">10月30日<span class="space">&thinsp;</span></div>
</div>

<div id="date-label" class="cf">
  <div id="time-label">開始時刻</div>
  <div id="progress-label">残り席数</div>
</div>

<div id="time-tables">
  <% count = 0 %>
  <% @attrs.each_with_index do |f, i|%>
    <% if i.between?(90, 99) || i.between?(190, 199) || i.between?(340, 349) || i.between?(440, 449) %>
      <% if i == 90 || i == 190 || i == 340 || i == 440 %>
        <div class="time-table rest-time" id="time-<%= i/10+1 %>">
          休憩時間
        </div>
      <% end %>
    <% else %>
      <% count += 1 if f.status == 0 %>
      <% if f.seat == 9 %>
          <div class="time-table" id="time-<%= (f.id+1)/10 %>">
            <% if f.time > Time.zone.now %>
              <a href="<%= seat_select_path(f.id-9) %>"></a>
            <% else %>
              <div class="ended">予約終了</div>
            <% end %>
            <div class="left">
              <span><%= f.time.strftime("%H:%M") %></span>
            </div>
            <div class="right">
              <%= image_tag("#{count}.png") %>
            </div>
            <% count = 0 %>
          </div>
      <% end %>
    <% end %>
  <% end %>
</div>