<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=0">
  </head>

  <body>
    <div id="container">
      <%= yield %>
      <h1 id="logo">
        <%= link_to image_tag('logo.png'), root_path %>
      </h1>
    </div>
  </body>
</html>
